.colaborador{
  background-color: var(--cor-branco);
  border-radius: 30px;
  box-shadow: 0 0 5px 2px #00000047;
  margin-top: 30px;
  transition: ease .5s all;
}
.colaborador:hover{
  transform: scale(1.1);
}

.colaborador .cabecalho{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 130px;
}

.colaborador .cabecalho img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin: 30px 0 -100px 0;
}

.colaborador .rodape{
  padding: 0 30px 30px;
}

.colaborador .rodape h4{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
}